.cardContainer {
	border-radius: 10px;
	min-height: 255px;
	display: flex;
	align-items: flex-end;
}

.cardTitle {
	color: #fff;
	font-size: 1.1em;
	line-height: 22.67px;
	margin-left: 20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
	.cardTitle {
		font-size: 1.3em;
	}
}